.bg-basic{
    background-color: #dba423;
}
.text-basic,
.dark .text-basic{
    color: #dba423;
}
.effect-bg:hover{
    background-color: rgba(219, 164, 35, 0.15) !important;
}
i:hover,
.dark i:hover{
    color: #dba423;
}
.section-title{
    color: #dba423;
}
.section-title:before{
    background-color: #dba423;
}
#main-menu ul li a.active{
    background-color: #dba423;
}
.cta a:nth-child(2) i {
    color: #dba423;
    border: 3px solid #dba423;
    border-right-color: inherit;
    border-bottom-color: inherit;
}
.cta a:nth-child(2) span:before{
    background-color: #dba423;
}
.cta a:nth-child(1):hover{
    border: 1px solid #dba423;
    color: #dba423;
}
.skill-bar .skill-chart {
    background-color: #dba423;
}
.swiper-pagination-bullet{
    background-color: #dba423 !important;
}
.page-header .title-section::after {
    border-bottom: 3px solid #dba423;
}
.search-boxes button.btn {
    background-color: #dba423 !important;
}
#video .video-txt{
    color: #dba423;
}
.blog-single .blog-search-box input {
    color: #dba423;
}
.blog-single .blog-search-box button.btn {
    color: #dba423;
}
.blog-single .blog-tag-cloud a{
    background-color: #ffeec6;
}
.page-item.active .page-link {
    color: #fff;
    background-color: #dba423;
}
.page-link:hover, .page-link:focus {
    color: #ffffff;
    background-color: #dba423;
}
input:focus-visible,textarea:focus-visible{
    outline: 1px solid #dba423;
}
input[type="submit"]{
    background-color: #dba423;
    color: #ffffff;
    border: 1px solid #dba423;
}
input[type="submit"]:hover{
    background-color: transparent;
    color: #dba423;
}
.btn.button{
    color: #ffffff;
    border: 1px solid #dba423;
}
.btn.button:hover{
    background-color: #fff;
    color: #dba423;
}
.progress-wrap {
    background-color: #dba423;
}
.color-switcher .pallet-button{
    background-color: #dba423;
}

@media screen and (max-width: 767px){
    #main-menu ul li a.active{
        background-color: transparent;
        color: #dba423;
    }
    #main-menu ul li a.active i,
    #main-menu ul li a.active span,
    .dark #main-menu ul li a.active i,
    .dark #main-menu ul li a.active span{
        color: #dba423;
    }
}